@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">

        @*@(Html.Kendo().Grid<PrismaLogic_TestApp.Models.Person>()
            .Name("EmpGrid")
            .DataSource(dataSource => dataSource
                .Ajax()

                .Read(read => read.Action("Index1", "Person"))
                )
                )*@

        @(Html.Kendo().Grid<PrismaLogic_TestApp.Models.Person>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.FirstName).Width(140);
            columns.Bound(c => c.LastName).Width(190);
            columns.Bound(c => c.Country);
            columns.Command(c => { c.Edit(); c.Destroy(); });
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Index1", "Person"))
            .Update(u => u.Action("Update", "Person"))
            .Destroy(d => d.Action("Delete", "Person"))
            .Create(c => c.Action("Create", "Person"))
            .PageSize(2)
            .Model(m => { m.Id(p => p.Id); })
        ).Pageable()
        .Sortable()
        .Filterable()
        .Groupable()
        .Editable(m=>m.Mode(GridEditMode.PopUp))
        .ToolBar(t=>t.Create())
    )
    </div>
</div>

